
apiVersion: apps/v1
kind: Deployment
metadata:
  name: fb-deploy
  namespace: prod
spec:
  replicas: 2
  selector:
    matchLabels:
      app: facebook
  template:
    metadata:
      labels:
        app: facebook
    spec:
      containers:
        - name: fb-pod-cont
          image: harikayarabala/cicd:9
          ports:
            - containerPort: 8080
          # (Optional but recommended)
          readinessProbe:
            httpGet:
              path: /
              port: 8080
            initialDelaySeconds: 5
            periodSeconds: 10
          livenessProbe:
            httpGet:
              path: /
              port: 8080
            initialDelaySeconds: 10
            periodSeconds: 20
